<!doctype html>
<html>
{% load static %}
<head>
<title>Trello</title>
<link rel="icon" type="image/png" href="{% static 'trelloapp/images/favicon.ico' %}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Student Registration Form Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
<script>
	addEventListener("load", function () {
	setTimeout(hideURLbar, 0);
}, false);
	function hideURLbar() {
		window.scrollTo(0, 1);
	}
</script>
	
<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">

{% load static %}

<link href="{%static 'trelloapp/css/bootstrap.css' %}" rel="stylesheet" type='text/css' media="all" />
<link href="{% static 'trelloapp/css/style.css' %}" rel="stylesheet" type='text/css' media="all" />
	
</head>

<body>
	<div class="content-agileits">
		<h1 class="title">Project Creation Form</h1>
		<div class="left">
			<form enctype="multipart/form-data" action="#" method="post" data-toggle="validator" id="uploadproject">
			{% csrf_token %}
			{{form.as_p}}
			<button type="submit" value="Post" class="btn btn-lg">submit</button>
			</form>
		</div>
		<div class="right"></div>
		<div class="clear"></div>
	</div>
	<script src="js/jquery-2.1.4.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/validator.min.js"></script>
	<script src="{% static 'trelloapp/vendor/jquery/jquery.min.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
	<script type="text/javascript">
	</script>
</body>

</html>