<!DOCTYPE html>
<html lang="en">

<head>
{% load static %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Trello</title>
<link rel="icon" type="image/png" href="{% static 'trelloapp/images/favicon.ico' %}">
{% load static %}

<link href="{% static 'trelloapp/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'trelloapp/css/small-business.css' %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'trelloapp/style.css' %}">

<style>
* {
box-sizing: border-box;
}

#myInput {

background-position: 10px 12px;
background-repeat: no-repeat;
width: 100%;
font-size: 16px;
padding: 10px 18px 10px 38px;

}

#myUL {
list-style-type: none;
padding: 0;
margin: 0;
}

#myUL li a {
border: 1px solid #ddd;
margin-top: -1px; 
background-color: #f6f6f6;

text-decoration: none;
font-size: 18px;
color: black;
display: block
}

#myUL li a:hover:not(.header) {
background-color: #eee;
}
.userimage{
height: 70px;
width: 70px;
background-color:  #d7dbdd ;
border-radius: 50%;
}
</style>

</head>

<body style="padding: 0px;background: url('/media/{{project.picture}}');height: 100%;background-position: center;
background-repeat: no-repeat;
background-size: cover;">



<nav class="navbar navbar-inverse navbar-fixed-top topnav" style="padding-top: 0px;margin: 0px">
    <div class="row header" style="width: 100%">
        <div class="col-sm-1">
            <div class="navbar-header">
                <a style="cursor: pointer;" href="{% url 'trelloapp:userhome' %}">
                <img class="trelloimage1" src="https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/images/trello-header-logos/af7af6ed478d3460709d715d9b3f74a4/trello-logo-white.svg" alt="logo">
                </a>
            </div>
        </div>
        <div class="col-sm-11">
            <ul class="nav navbar-nav navbar-right pull-right">
                <div class="menus">
                    <div class="homemenu1" style="padding-left: 20px;padding-top: 10px">
                        <li><a href="{% url 'trelloapp:logout' %}">Logout</a></li>
                    </div>
                    <div class="userimage1">
                        <p style="padding-left: 12px; font-size: 25px;">{{user.username|slice:"1"}}</p>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</nav>



<div class="container">
    <div class="row my-4">
        <div class="col-sm-3">
            <div class="card text-white bg-secondary my-4 text-center" style="width: 300px">
                <input style="width: 300px;background-color: rgba(0,0,0,0.1);" type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
                <ul id="myUL">
                </ul>
            </div>
        </div>
        <div class="col-sm-2" style="padding-top: 28px;padding-left: 50px">
            <a href="#" id="adduser" class="btn btn-primary">+</a>
        </div>
        <div class="col-sm-7 projectdetails">
            <h1>{{project.name}}</h1>
            <p>{{project.description}}</p>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row" id="appenduser">
            {% for member in projectmember %}
                <div class="col-lg-1 col-sm-4 text-center mb-2 username">
                    <div class="userimage"><span><p style="padding-top: 25px;padding-left: 10px">{{member.username}}</p></span>
                    </div>
                </div>
            {% endfor %}  
        </div>
    </div>
    <br>
    <br>


    <div class="row">
        {% for task in task_list %}
        <div class="col-md-4 mb-4">
            <div class="card h-90" style="width: 80%">
                <div class="card-body">
                    <h2 class="card-title">{{task.taskname}}</h2>
                    <p class="card-text">{{task.taskdescription}}</p>
                    <p class="card-text">Priority : {{task.priority}}</p>
                    <p class="card-text" id="task{{task.id}}"><span style="color: green">{% if task.completed_by %}Completed By :{%endif%}</span>
                    {{task.completed_by}}</p>
                </div>
                <div class="card-footer">
                    {% if task.completed is True%}
                    <a href="" id="{{task.id}}" class="btn btn-success taskbtn">
                        {% if task.completed is True%}Completed
                        {%else%}
                        Mark as completed{%endif%}
                    </a>
                    {% else %}
                    <a href="" id="{{task.id}}" class="btn btn-primary taskbtn">
                        {% if task.completed is True%}Completed
                        {%else%}
                        Mark as completed{%endif%}
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="col-md-4 mb-4">
            <a href="{% url 'trelloapp:createtask' project.id %}" style="text-decoration: none;color: black">
                <div class="card h-90" style="background-color: rgba(128,128,128,0.9);cursor: pointer;width: 80%">
                    <div class="card-body">
                        <p style="padding-top: 100px;padding-left: 70px;padding-bottom: 80px">Create a Task </p><!-- </div> -->
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>



<script src="{% static 'trelloapp/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script>





function myFunction() {
    $("#myUL").show()
    var input, filter, ul, li, a, i;

    username = $('#myInput').val();
    console.log(username)
    $.ajax({
    url : "", 
    type : "POST", 
    data : { username : username,
    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val() },
    success : function(name) {
    var projectid=name.projectid

    var users_html = "";
    for (var key in name) {
        var i;
        for (i = 0; i < name[key].length; i++) {
            var username=name[key][i]
            users_html = users_html+"<li><a onclick='userList(this.id,"+name.projectid+")' id='"+username+"'>"+name[key][i]+"<a></li>"
        } 
        $("#myUL").html(users_html)
    }

    },

});
input = document.getElementById("myInput");
filter = input.value.toUpperCase();
ul = document.getElementById("myUL");
li = ul.getElementsByTagName("li");
for (i = 0; i < li.length; i++) {
a = li[i].getElementsByTagName("a")[0];
if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
    li[i].style.display = "";
} else {
    li[i].style.display = "none";
}
}

}

function userList(username,projectid) {

    $("#myInput").val(username)
    $("#myUL").hide()
    $('#adduser').on('click', function(event){
        $("#myInput").val("")
        event.preventDefault();
        $.ajax({
            url : "{% url 'trelloapp:adduser' %}", 
            type : "POST",
            data : { projectid : projectid,
            username : username,
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val() },
            success : function(name) {
            //

                var users_name="";
                for (var key in name) {
                console.log(name[key][0])
                var i;
                for (i = 0; i < name[key].length; i++) {
                    var username=name[key][i]
                    users_name = users_name+'<div class="col-lg-1 col-sm-4 text-center mb-2 username">'
                          +'<div class="userimage"><span><p style="padding-top:25px">'
                          +name[key][i]+'</p></span></div></div>'
                } 
                $("#appenduser").html(users_name)
                }


            },

        });
    });




}

$('.taskbtn').on('click', function(event){
    event.preventDefault();
    // console.log(this.id);
    var button=$(this);
    $.ajax({
    url : "{% url 'trelloapp:taskcompleted' %}", // the endpoint
    type : "POST", // http method
    data : { taskid:this.id,

    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val() },
    success : function(name) {
        console.log("taskcompletedby",name.taskcompleted)
        console.log("taskid",name.taskid)
        $("#task"+name.taskid).html(name.taskcompleted);
        button.html("Completed");
        button.attr("class","btn btn-success")
        console.log(button.val());
        $("#task"+name.taskid).html('<p style="color:green">Completed By:<span style="color:black">'+name.taskcompleted+'</span></p>');


    },

    });

});






</script>
{% block js %}

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="{% static 'el-pagination/js/el-pagination.js' %}"></script>

<script>$.endlessPaginate({paginateOnScroll: true});</script>
{% endblock %}
</body>
</html>
