<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
<title>Trello</title>
<link rel="icon" type="image/png" href="{% static 'trelloapp/images/favicon.ico' %}">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="https://fonts.googleapis.com/css?family=Allura" rel="stylesheet">

</head>
<body>
{% load static %}

<style>
    .text-center{
        text-align: center;
    }
</style>

<link rel="stylesheet" type="text/css" href="{% static 'trelloapp/bootstrap.min.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'trelloapp/style.css' %}">



<div class="jumbotron text-center body5" style="padding-bottom: 0px;margin-bottom: 0px">
    <h1 class="text-center" style="padding: 0px;margin: 0px;font-size: 40px;padding-top: 80px">Log in to Trello</h1>
    <br>
    <br>
    <span style="color: #82bfe2;font-size:20px;">or <a href="{% url 'trelloapp:signup' %}"><u>Create an account</u></a></span>
</div>

<div class="container-fluid body5">
    <div class="row" style="padding: 0px;margin: 0px">
        <div class="col-sm-offset-4 col-sm-4" style="color: black">
            <form method="post">
                {{form.errors}}
                {% csrf_token %}
                Username 
                <br>
                <input name="username" autofocus="" required="" class="form-control" maxlength="254" id="id_username" type="text">
                <br>
                Password
                <br>
                <input name="password" required="" id="id_password" class="form-control" type="password">
                <button style="background: linear-gradient(to bottom, #61bd4f 0, #5aac44 100%);color: #fff;width: 200px;box-shadow: 0 2px 0 rgba(0,0,0,0.4);margin: 2em auto 1em;cursor: pointer;font-weight: bold;font-size: .9em;padding-bottom: 35px;" type="submit" class="form-control ">Login</button>
            </form>
            <br>
            <br>
        </div>
    </div>
</div>




<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</script>
</body>
</html>





























